/* цвета
темный серый (фон) #1f1f1f
серый (фон) #f2f2f2
 синий (ссылки, фигуры) #2f80ed
 черный (текст) #000000
*/

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  padding: 0;
}

div {
  border: red 1px solid; 
}
section {
  border: red 1px solid;
}
.header {
  border: red 1px solid;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  margin-bottom: 100px;
  /* выше установили ограничения для секции */
}
.header__logo {
  width: 228px;
  height: 32px;
  position: absolute;
  left: 64px;
  top: 30px;
}

.header__title {
  width: 730px;
  position: absolute;
  left: 64px;
  top: 200px;
}
.header__title_text {
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
}

.header__subtitle_text {
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  display: inline;
}
.header__subtitle_link {
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  color: #2f80ed;
  display: inline;
  text-decoration: none;
}
.header__main_illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}
.header__main_illustration_picture {
  width: 765px;
  height: 608px;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0px;
  top: 64px;
}

.description{
  margin-bottom: 100px;
}

.two-columns {
  width: 80%;
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.two-columns__brief {
  display: flex;
  width: 175px;
}
.two-columns__brief_text {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;

}
.two-columns__main-text {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 784px;
  justify-content: space-between;
}
.two-columns__main-text_paragraph{
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  margin-bottom: 30px;
}


.two-columns__main-text_paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
}

.digits {
  margin-bottom: 100px;
}

.digits__title {
  width: 60%;
  margin: auto;
  margin-bottom: 20px;
}
.digits__title_text {
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  text-align: center;
  margin: 0;
}
.digits__subtitle {
  width: 60%;
  margin: auto;
}
.digits__subtitle_text {
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  text-align: center;
  margin: 0;
}
.digits__table {
  display: flex;
  width: 1100px;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.digits__table_cell {
  width: 250px;
  margin-top: 60px;
}

.digits__table_cell_heading {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
}
.digits__table_cell_text {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}
.digits__table_cell_text_2 {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 0;
}

.feynman {
  position: relative;
  background-color: #f2f2f2;
  height: 890px;
  z-index: -2;
  overflow: hidden; /* костыль который фиксит что у title тут не работает margin top, при этом я сейчас посмотрел и в такой же ситуации блок title в секции выше работает */
}

.feynman__title {
  width: 648px;
  margin: auto;
  margin-top: 100px;
  font-size: 120px;
  font-weight: 600;
  line-height: 1.15;
  text-align: center;
}

.feynman__subtitle {
  margin: auto;
  width: fit-content;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  margin-top: 70px;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  color: #2f80ed;
}

.feynman__photo {
  left: 0;
  bottom: 0;
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.kaufman {
  padding-bottom: 100px;
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
  z-index: -2;
}

.kaufman__title {
  width: 60%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 90px;
}
.kaufman__title_text {
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  text-align: center;
  margin: 0;
  color: white;
}
.kaufman__subtitle {
  width: 60%;
  margin: auto;
}
.kaufman__subtitle_text {
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  text-align: center;
  color: white;
  margin: 0;
}
.kaufman__table {
  display: flex;
  width: 1100px;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.kaufman__table_cell {
  width: 200px;
  margin-top: 80px;
}

.kaufman__table_cell_heading {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
  color: white;
}
.kaufman__table_cell_text {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: white;
}

.kaufman__photo {
  position: absolute;
  right: -210px;
  top: 0px;
  z-index: -1;
}

.kaufman__photo_pic {
  width: 877px;
  height: 877px;
}

.footer {
  background-color: #1f1f1f;
  min-height: 250px;
  padding-top: 60px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.footer__column {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.footer__copiright {
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
}

.footer__logo {
  width: 228px;
  height: 32px;
}
.footer__author {
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  color: white;
  width: fit-content;
  margin-top: 18px;
  margin-bottom: 18px;
}

.footer__info_heading {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  color: white;
  margin-bottom: 20px;
}

.footer__info_links {
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  color: white;
  margin-bottom: 16px;
}

.footer__social_heading {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  color: white;
  margin-bottom: 20px;
}

.footer__social_item {
  display: flex;
}
.footer__social_item:last-of-type {
  margin-bottom: 16px;
}

.footer__social_item_icon {
  margin-right: 10px;
  display: flex;
  align-items: center;
  height: 16px;
  width: 16px;
}

.footer__social_item_link {
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  color: white;
}

.footer__social_item_a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
